* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-error {
  color: red;
  font-size: 12px;
  font-style: italic;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  cursor: pointer;
}
.button-radius {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.input-radius {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.form-check .form-check-input {
  float: unset !important;
}

.balance-box {
  margin-top: 34px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 10px;
  width: 33% !important;
  margin: 0 auto;
}
.balance-box h1 {
  margin-bottom: 32px;
  margin-top: 32px;
}
