* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-error {
  color: red;
  font-size: 12px;
  font-style: italic;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.row > * {
  width: 32% !important;
}
a {
  cursor: pointer;
}
.button-radius {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.input-radius {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
